<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link href="static/css/style.css" rel="stylesheet" />

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <script src="static/js/store.js"></script>
    <script src="static/js/pretty-print.js"></script>

    <title>LogViz</title>
  </head>
  <body class="container" x-cloak x-data x-init="$store.state.init()">
    <a href="https://github.com/rammyblog/LogViz"
      ><img
        class="img-fluid logo"
        src="static/img/logo.png"
        alt="LogViz"
        class="logo"
    /></a>
    <div class="input-group mb-3 w-25">
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        id="dropdownMenuButton"
        x-text="$store.state.searchBy"
      ></button>
      <ul class="dropdown-menu">
        <li>
          <a
            id="search-method"
            x-on:click="$store.state.toggleSearchBy('Method')"
            class="dropdown-item"
            href="#"
            >Method</a
          >
        </li>
        <li>
          <a
            id="search-path"
            x-on:click="$store.state.toggleSearchBy('Path')"
            class="dropdown-item"
            href="#"
            >Path</a
          >
        </li>
        <li>
          <a
            id="search-code"
            x-on:click="$store.state.toggleSearchBy('Code')"
            class="dropdown-item"
            href="#"
            >Code</a
          >
        </li>
        <li>
          <a
            x-on:click="$store.state.toggleSearchBy('Ip Address')"
            id="search-address"
            class="dropdown-item"
            href="#"
            >Ip Address</a
          >
        </li>
      </ul>

      <div x-show="$store.state.isMethodTypeOpen" class="dropdown mx-2">
        <button
          class="btn btn-info dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          x-text="$store.state.methodType"
        ></button>
        <ul id="method-menu" class="dropdown-menu">
          <li>
            <a
              id="get-method"
              x-on:click="$store.state.toggleMethodType('GET')"
              class="dropdown-item"
              href="#"
              >GET</a
            >
          </li>
          <li>
            <a
              id="post-method"
              x-on:click="$store.state.toggleMethodType('POST')"
              class="dropdown-item"
              href="#"
              >POST</a
            >
          </li>
          <li>
            <a
              id="delete-method"
              x-on:click="$store.state.toggleMethodType('DELETE')"
              class="dropdown-item"
              href="#"
              >DELETE</a
            >
          </li>
          <li>
            <a
              x-on:click="$store.state.toggleMethodType('PUT')"
              id="put-method"
              class="dropdown-item"
              href="#"
              >PUT</a
            >
          </li>
          <li>
            <a
              x-on:click="$store.state.toggleMethodType('OPTION')"
              id="option-method"
              class="dropdown-item"
              href="#"
              >OPTION</a
            >
          </li>
        </ul>
      </div>
      <input
        type="text"
        @keyup.enter="$store.state.searchLogs($event.target.value)"
        class="form-control"
        x-bind:disabled="!$store.state.validSearchBy.includes($store.state.searchBy)"
        aria-label="Text input with dropdown button"
        x-show="!$store.state.isMethodTypeOpen"
      />
    </div>

    <div>
      Live:
      <span
        :class="{
        'badge text-bg-success': $store.state.live,
        'badge text-bg-danger': !$store.state.live
      
      }"
        x-text="$store.state.live ? 'On' : 'Off'"
      ></span>
    </div>

    <table id="request-table" class="table table-striped table-hover">
      <caption>
        HTTP request logs
      </caption>
      <thead>
        <tr>
          <th scope="col">Method</th>
          <th scope="col">Path</th>
          <th scope="col">IP Address</th>
          <th scope="col">Status</th>
          <th scope="col">Time Taken</th>
          <th scope="col">Time Ago</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody id="logs-records">
        <template x-for="log in $store.state.data" :key="log.id">
          <tr>
            <td x-text="log.method"></td>
            <td x-text="log.path"></td>
            <td x-text="log.ip_address"></td>
            <td>
              <span
                x-text="log.code"
                :class="{
                  'badge text-bg-success': log.code === 200,
                  'badge text-bg-warning': log.code >= 400,
                  'badge text-bg-danger': log.code >= 500,
                  'badge text-bg-secondary': log.code < 200 || log.code >= 300
                }"
              ></span>
            </td>
            <td><span x-text="log.time_spent"> </span> ms</td>
            <td
              class="timestamp"
              x-text=" moment(log.created_at, 'YYYY-MM-DD HH:mm:ss').fromNow()"
            ></td>
            <td>
              <button
                type="button"
                class="btn btn-light"
                data-bs-toggle="modal"
                data-bs-target="#requestDetailsModal"
                @click="$store.state.currentLog = log"
              >
                View
              </button>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <div x-show="$store.state.isLoading">Loading...</div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="requestDetailsModal"
      tabindex="-1"
      aria-labelledby="requestDetailsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="requestDetailsModalLabel">
              Request Details
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="request-details container p-4">
              <p>Host: <span x-text="$store.state.currentLog.host"></span></p>
              <p>
                Method: <span x-text="$store.state.currentLog.method"></span>
              </p>
              <p>
                Status: <span x-text="$store.state.currentLog.status"></span>
              </p>
              <p>Path: <span x-text="$store.state.currentLog.path"></span></p>
              <p>
                IP Address:
                <span x-text="$store.state.currentLog.ip_address"></span>
              </p>
              <p>
                Time Taken:
                <span x-text="$store.state.currentLog.time_spent"></span> ms
              </p>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="request-headers-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#request-headers"
                  type="button"
                  role="tab"
                  aria-controls="request-headers"
                  aria-selected="true"
                >
                  Request Headers
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="payload-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#payload"
                  type="button"
                  role="tab"
                  aria-controls="payload"
                  aria-selected="false"
                >
                  Payload
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="response-headers-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#response-headers"
                  type="button"
                  role="tab"
                  aria-controls="response-headers"
                  aria-selected="false"
                >
                  Response Headers
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="response-body-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#response-body"
                  type="button"
                  role="tab"
                  aria-controls="response-body"
                  aria-selected="false"
                >
                  Response Body
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="request-headers"
                role="tabpanel"
                aria-labelledby="request-headers-tab"
                tabindex="0"
              >
                <pre
                  x-html="library.json.prettyPrint($store.state.currentLog.headers)"
                ></pre>
              </div>
              <div
                class="tab-pane fade"
                id="payload"
                role="tabpanel"
                aria-labelledby="payload-tab"
                tabindex="0"
              >
                <pre
                  x-html="library.json.prettyPrint($store.state.currentLog.request_body)"
                ></pre>
              </div>
              <div
                class="tab-pane fade"
                id="response-headers"
                role="tabpanel"
                aria-labelledby="response-headers-tab"
                tabindex="0"
              >
                <pre
                  x-html="library.json.prettyPrint($store.state.currentLog.response_headers)"
                ></pre>
              </div>
              <div
                class="tab-pane fade"
                id="response-body"
                role="tabpanel"
                aria-labelledby="response-body-tab"
                tabindex="0"
              >
                <pre
                  x-html="library.json.prettyPrint($store.state.currentLog.response_body)"
                ></pre>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative">
      <div class="position-absolute top-0 start-50 translate-middle">
        Built with 💓 By
        <a href="https://tundeonasanya.dev/">Babatunde Onasanya</a>
      </div>
    </div>

    <script src="static/js/socket.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Include moment.js for timestamp conversion -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
      // Check if the user has scrolled to the bottom of the window
      function isBottomOfPage() {
        // Get the height of the document
        const docHeight = Math.max(
          document.body.scrollHeight,
          document.documentElement.scrollHeight,
          document.body.offsetHeight,
          document.documentElement.offsetHeight,
          document.body.clientHeight,
          document.documentElement.clientHeight
        );

        // Get the current scroll position
        const scrollTop =
          window.pageYOffset ||
          document.documentElement.scrollTop ||
          document.body.scrollTop;

        // Get the height of the viewport
        const viewportHeight =
          window.innerHeight ||
          document.documentElement.clientHeight ||
          document.body.clientHeight;

        // Check if we are at the bottom of the page
        return docHeight - scrollTop <= viewportHeight;
      }

      // Example usage:
      window.addEventListener('scroll', function () {
        if (isBottomOfPage()) {
          console.log('You have reached the bottom of the page!');
          // Perform actions such as loading more data
          Alpine.store('state').loadMore();
        }
      });
    </script>
  </body>
</html>
